<nav class="nav">
  <div class="alt_link"><%= link_to 'All Books', books_path %></div>
  <% Genre.all.each do |genre| %>
    <div class="link"><%= link_to genre.genre, genre %></div>
  <% end %>
  <div class="new_book">
    <%= link_to 'Add Book to Trade', new_book_path %>
  </div>
</nav>
<h1 id="logo" class="center-container"><%= @genre.genre %> Books</h1>
<br>
<div class="grid">
  <% Book.all.each do |book| %>
    <% if book.genre_id == @genre.id %>
      <div class="entry">
        <h2><%= book.title %></h2>
        <h3>By: <%= book.author %></h3>
        <p><%= book.description %></p>
        <div class="contact"><%= link_to 'Contact Trader', book %></div>
      </div>
    <% end %>
  <% end %>
</div>
<br>
