<%= render 'shared/navbar' %>
<h1 class="title-container">Books for Trade</h1>
<hr>
<div class="grid">
  <% @books.each do |book| %>
    <div class="entry">
      <h2><%= book.title %></h2>
      <h3>By: <%= book.author %></h3>
      <p>Genre: <%= book.genre.genre %></p>
      <p><%= book.description %></p>
      <div class="contact"><%= link_to 'Contact Trader', book %></div>
    </div>
  <% end %>
</div>