<div class="grid">
  <div class="entry">
    <h2><%= @book.title %></h2>
    <h3>By: <%= @book.author %></h3>
    <p>Genre: <%= @book.genre.genre %></p>
    <p><%= @book.description %></p>
  </div>
  <div class="contact_entry">
    <p>Trader's Name: <%= @book.contact_name%></p>
    <p>Trader's Email: <a href="mailto:<%=@book.contact_email%>?subject=<%=@book.title%> For Trade"><%=@book.contact_email%></a></p>
  </div>
</div>
<br>
<%= link_to 'Back', books_path %>